---

- name: Preflight checks - network
  assert:
    that:
      - vaultwarden_container_network_name != ''
    quiet: true
  when:
    - vaultwarden_container_exposed_port == ''


- name: Preflight checks
  assert:
    that:
      - vaultwarden_container_admin_token != ''
      - vaultwarden_container_base_dir != ''
      - vaultwarden_container_version != ''
      - vaultwarden_container_name != ''
      - vaultwarden_container_base_dir != ''
      - vaultwarden_container_data_dir != ''
      - vaultwarden_container_admin_token != ''
      - vaultwarden_container_network_name != ''
      - vaultwarden_container_restart_policy != ''
      - vaultwarden_container_timezone != ''
      - vaultwarden_container_update != ''
      - vaultwarden_container_url != ''
    quiet: true

- name: Create base dir
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: 'root'
    group: 'root'
    mode: '0750'
  loop: 
    - "{{ vaultwarden_container_base_dir }}"
  loop_control:
    label: "{{ item }}"
